<%- include("partials/header") -%>

<header class="d-flex justify-content-center">
    <h1>Bienvenidos a mi Blog</h1>
</header>
    <p class="descripcion">Usaré este espacio para transmitir mis ideas y pasiones</p>
<main class="d-flex flex-column align-items-center">
    <button type="button" class="btn btn-primary mb-3" id="btn-new">Nuevo Post</button>
      <div class="container text-center">
        <div class="row" id="container-row">
            <% posteos.forEach(post => { %>
              <article class="col-lg d-flex justify-content-center mb-3" data id="<%= post.id %>">
                <div class="card" style="width: 36rem;">
                    <img src="<%= post.imagen_post %>" class="card-img-top" alt="...">
                        
                        <div class="card-body">
                            <h5 class="card-title"><%= post.titulo %></h5>
                            <p class="card-text"><%= post.contenido %></p>                                                                         
                        <div>
                            <a class="btn btn-secondary" id="btn-editar">Editar</a>
                            <a class="btn btn-danger" id="btn-borrar">Borrar</a>
                        </div>
                        <div>
                            <p class="card-fecha d-flex justify-content-end mt-3 mb-0" id="fecha">Creado el <%= (post.createdAt).toLocaleDateString() %> por Juan Manuel Chavero</p>
                        </div>
                        </div>
                </div>
            </article>
            <% }) %>
        </div>
      </div>
    
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title fs-5" id="exampleModalLabel">Creador de Posts</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="formulario">
            <div class="mb-3">
                <label for="inputTitle" class="col-form-label">Titulo del Post:</label>
                <input type="text" class="form-control" id="inputTitle">
            </div>
            <div class="mb-3">
                <label for="inputDescription" class="col-form-label">Contenido:</label>
                <input type="text" class="form-control" id="inputDescription">
            </div>
            <div class="mb-3">
                <label for="inputPoster" class="col-form-label">ImagenURL:</label>
                <input type="url" required class="form-control" id="inputPoster">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btn-guardar"></button>
            </div>
            </form>
        </div>
        
        </div>
    </div>
    </div>

</main>

<%- include("partials/footer") -%>


